/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Essential for centering in the vertical axis */
  scroll-behavior: smooth;
}

header {
  display: flex; /* Using Flexbox to center content */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

footer {
  padding-bottom: 100px; /* or whatever value you desire */
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

h1.display-4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 4rem; /* Adjust size as needed */
  margin-bottom: 30px; /* Add some space between the name and the subsequent content */
}

p {
  font-family: "Roboto", sans-serif;
}

/* For <span> tags */
span {
  font-family: "Roboto Slab", serif;
  font-weight: 700; /* Making it bold for more emphasis */
}

.row {
  display: flex;
  align-items: stretch; /* This will vertically center the items */
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

/* Header Styles */
#profile-pic {
  width: 200px;
  margin-bottom: 20px;
}

/* Projects */
.project {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.project:last-child {
  border-bottom: none;
}

.project-card {
  border: 2px solid #004080; /* Dark blue border */
  border-radius: 10px; /* Rounded corners */
  padding: 15px; /* Inner padding */
  transition: box-shadow 0.3s ease; /* Optional: Smooth hover effect */
  position: relative; /* Add this */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(221, 166, 14, 0.1); /* Slight shadow on hover for interactivity */
  border-color: rgb(196, 147, 13); /* Border color changes to black on hover */
}

.project-card a.btn {
  position: absolute; /* Position the button absolutely */
  right: 15px; /* Distance from the right edge of the .project-card */
  bottom: 15px; /* Distance from the bottom edge of the .project-card */
}

.card-content {
  flex-grow: 1;
  margin-bottom: 30px;
}

.info-card {
  border: 2px solid #004080; /* Dark blue border from .project-card */
  border-radius: 10px; /* Rounded corners from .project-card */
  padding: 15px; /* Inner padding from .project-card */
  transition: box-shadow 0.3s ease; /* Optional: Smooth hover effect from .project-card */
  display: flex; /* To help structure the content inside */
  flex-direction: row; /* Rows of content */
  justify-content: space-between; /* Space out direct child elements (should be .col-md-8 and .col-md-4) */
  background-color: #e6f7ff; /* Retaining your light blue background color */
}

.info-card:hover {
  box-shadow: 0 4px 8px rgba(221, 166, 14, 0.1); /* Slight shadow on hover from .project-card */
  border-color: rgb(
    196,
    147,
    13
  ); /* Border color changes on hover from .project-card */
}

.logo-container {
  display: flex;
  justify-content: center; /* Horizontally center the logos */
  align-items: center; /* Vertically center the logos */
  flex-wrap: wrap; /* Allow the logos to wrap if they don't fit */
  margin: 10px 0; /* Add some space above and below the logo container */
}

.tech-logo {
  width: 50px;
  margin-right: 10px;
  vertical-align: middle; /* To align with the text */
}

#backToTop {
  background-color: #f3cd25; /* You can change this to your desired color */
  border-radius: 50px; /* Makes it rounded */
  position: fixed; /* Positions it relative to the viewport */
  bottom: 20px; /* 20px from the bottom of the viewport */
  right: 20px; /* 20px from the right side of the viewport */
  display: none; /* Hidden by default and shown with JavaScript when scrolled */
  z-index: 1000; /* Ensures the button stays on top of other elements */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

#backToTop:hover {
  background-color: #dd8e17; /* Darkens the blue a bit on hover */
}

/* Footer styles */
.info-container {
  background-color: #e6f7ff; /* Retaining your light blue background color */
  border: 2px solid #004080; /* Dark blue border similar to project cards */
  border-radius: 10px; /* Rounded corners */
  padding: 15px; /* Inner padding */
  margin-bottom: 20px; /* Space between this section and whatever follows */
}

.social-links {
  display: flex;
  justify-content: center; /* Horizontally center the logos */
  gap: 20px; /* Space between logos */
  margin-top: 20px; /* Space above the logo section */
}

.social-icon {
  width: 50px; /* Or adjust to your preference */
  border-radius: 50%; /* Makes them round */
}

footer a {
  color: #007bff; /* Default Bootstrap link color, change if necessary */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

footer a:hover {
  color: #0056b3; /* Darken the link color slightly on hover */
}

.email-icon-container {
  text-align: center; /* Center the icon horizontally */
  margin-top: 20px; /* Provide some space above the icon */
}

.email-icon {
  font-size: 2rem; /* Adjust the size of the icon */
  color: #004080; /* Icon color */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  cursor: pointer; /* Cursor changes to a hand on hover */
}

.email-icon:hover {
  color: #0056b3; /* Slightly lighter blue on hover */
}
/* Mobile Styles */
@media screen and (max-width: 768px) {
  #profile-pic {
    display: none; /* Hide profile picture on mobile devices */
  }
}
